<div class="wrapper">
  <div class="header">
    <h1>Explore the best interactive comics in the world</h1>
  </div>

  <div class="comic_wrapper">
    <div class="section_title">
      <h1>Comics</h1>
    </div>

    <% @comics.each do |comic| %>
      <div class="comic">
        <div class="comic_cover"><%= image_tag comic.cover.url %></div>
        <div class="comic_title"><%= link_to comic.title, comic %></div>
        <div class="comic_author"><%= comic.user.nickname %></div>
        <div class="comic_genre"><%= link_to comic.genre.title, comic.genre %></div>
      </div>
    <% end %>
  </div>

  <div class="genre_index_wrapper">
    <div class="index_section_title">
      <h1>Genres</h1>
    </div>

    <% @genres.each do |genre| %>
      <div id="collection" class="genre">
        <div id="collection_cover" class="genre_cover">
          <div id="collection_title" class="genre_title"><%= link_to genre.title, genre %></div>
          <%= image_tag genre.cover.url %>
        </div>
      </div>
    <% end %>
  </div>
</div>
