<p id="notice"><%= notice %></p>

<div>
  <%= image_tag(@comic.cover.url) if @comic.cover? %>
</div>

<p>
  <strong>Title:</strong>
  <%= @comic.title %>
</p>

<!-- <p>
  <strong>Cover:</strong>
  <%#= @comic.cover %>
</p> -->
<p>
  <strong>Creator:</strong>
  <%= @comic.user_id %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @comic.genre.title %>
</p>

<%= link_to 'Edit', edit_comic_path(@comic) %> |
<%= link_to 'Back', comics_path %>
