<br>

<div class="comic_cover">
  <%= image_tag(@comic.cover.url, width: 300) if @comic.cover? %>
</div>

<div class="comic_title">
  <%= @comic.title %>
</div>

<div class="comic_author">
  <%= @comic.user.nickname %>
</div>

<div class="comic_description">
  <%= @comic.description %>
</div>

<div class="comic_genre">
  <%= @comic.genre.title %>
</div>


<%= link_to 'Read comic',comic_story_path(0) %>

<br>

<% if can? :update, Comic %>
  <%= link_to 'Edit', edit_comic_path(@comic) %>
<% end %>

<%= link_to 'Back', comics_path %>
