<p id="notice"><%= notice %></p>

<div>
  <%= image_tag(@comic.cover.url) if @comic.cover? %>
</div>

<p>
  <strong>Title:</strong>
  <%= @comic.title %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @comic.user.nickname %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @comic.genre.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @comic.description %>
</p>


<%= link_to 'Read comic',comic_story_path(1) %>

<% if can? :update, Comic %>
  <%= link_to 'Edit', edit_comic_path(@comic) %>
<% end %>

<%= link_to 'Back', comics_path %>
